<?xml version="1.0"?>
<config debug="true">
    <gui>
        <showDeviceStatus>OFF</showDeviceStatus>
    </gui>
    <connairs>
        <connair>
            <address>192.168.42.3</address>
            <port>49880</port>
        </connair>
        <connair>
            <address>192.168.42.4</address>
            <port>49880</port>
        </connair>
    </connairs>
    <culs>
        <cul>
            <device>/dev/ttyACM0</device>
        </cul>
    </culs>
    <devices>
        <device>
            <id>1</id>
            <name>Lichterkette Wohnzimmert&#xFC;r</name>
            <vendor>intertechno</vendor>
            <address>
                <masterdip>M</masterdip>
                <slavedip>2</slavedip>
                <tx433version>1</tx433version>
                <rawCodeOn/>
                <rawCodeOff/>
            </address>
            <room>Flur</room>
            <favorite>false</favorite>
            <status>ON</status>
        </device>
        <device>
            <id>2</id>
            <name>Lampe Fensterbank</name>
            <vendor>brennenstuhl</vendor>
            <address>
                <masterdip>10111</masterdip>
                <slavedip>01000</slavedip>
                <tx433version>2</tx433version>
                <rawCodeOn/>
                <rawCodeOff/>
            </address>
            <room>Wohnzimmer</room>
            <favorite>false</favorite>
            <status>OFF</status>
        </device>
        <device>
            <id>3</id>
            <name>gro&#xDF;e Papierlampe</name>
            <vendor>intertechno</vendor>
            <address>
                <masterdip/>
                <slavedip/>
                <tx433version/>
                <rawCodeOn>TXP:0,0,10,5600,350,25,1,3,3,1,1,3,1,3,1,3,3,1,1,3,1,3,1,3,3,1,1,3,1,3,1,3,1,3,1,3,1,3,1,3,3,1,1,3,1,3,1,3,1,3,1,3,3,1,1,16,;</rawCodeOn>
                <rawCodeOff>TXP:0,0,10,5600,350,25,1,3,3,1,1,3,1,3,1,3,3,1,1,3,1,3,1,3,3,1,1,3,1,3,1,3,1,3,1,3,1,3,1,3,3,1,1,3,1,3,1,3,3,1,1,3,1,1,1,16,;</rawCodeOff>
            </address>
            <room>Wohnzimmer</room>
            <favorite>true</favorite>
            <status>OFF</status>
        </device>
    </devices>
    <groups>
        <group>
            <id>1</id>
            <name>Alle</name>
            <favorite>false</favorite>
            <deviceid>1</deviceid>
            <deviceid onaction="off" offaction="none">2</deviceid>
            <deviceid onaction="none" offaction="off">3</deviceid>
        </group>
        <group>
            <id>2</id>
            <name>gem&#xFC;tlicher Abend</name>
            <favorite>true</favorite>
            <deviceid>1</deviceid>
            <deviceid>3</deviceid>
        </group>
        <group>
            <id>3</id>
            <name>Aufs Klo gehen</name>
            <favorite>true</favorite>
            <deviceid>2</deviceid>
        </group>
    </groups>
</config>
